@import url('https://fonts.googleapis.com/css2?family=Abyssinica+SIL&display=swap');

*{
  box-sizing: border-box;
}

body {
  font-family: 'Abyssinica';
  margin: 0;
  background-color: rgb(167, 187, 167); 
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Abyssinica';
}